numpy
pandas
matplotlib
cartopy
scikit-learn
pyarrow
xarray
netcdf4
torch
torchvision
pyyaml
zarr
numcodecs
einops
echo-opt
bridgescaler
segmentation-models-pytorch
haversine
pvlib
torch-harmonics
torch_geometric
fsspec
gcsfs
h5py<=3.14.0
h5netcdf
torchmetrics
s3fs
numba
