numpy
pandas
matplotlib
cartopy
scikit-learn
pyarrow
xarray
netcdf4
torch
torchvision
pyyaml
dask
distributed
dask-jobqueue
zarr
numcodecs
einops
echo-opt
bridgescaler
segmentation-models-pytorch
haversine
pvlib
pre-commit
torch-harmonics
torch_geometric
fsspec
gcsfs
metpy
keras
miles-guess
h5py<=3.14.0
h5netcdf
torchmetrics